*{
  max-width: 100%;
  max-height: 100%;

}
.inv{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
text-decoration-color: black;
}
.textocentrado{
  display: flex;
text-align: center;
}
hr
{
  height: 5px;
  border: none;
  background: linear-gradient(to left ,green,green);
}
.bloque1
{
  text-align: center;
  margin-top: 20px;
  height: 50px;
  background-color:seagreen;
  width: 100%;
  align-items: center;
  display: flex;
}
.general{
  width: 249px;
  height: 0px;
  max-height:100%;
  background-color:seagreen;
}

.cont{
  height: 100px;
}
.cont2{
  height: 510px;
  margin-top: 35px;
}
.cont3{
  height: 146px;
}
.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(7, 7, 7, 0.973), 0 0 20px rgb(2, 2, 2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.mbotones {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.mbotones:hover {
  transform: translateY(8px);
}
* {
	box-sizing: border-box;

}

body {
	background-color: #f0f2f1;
}

a {
	text-decoration: none;
}

figure {
	height: 400px;
	margin: 0;
	position: relative;
	width: 600px;
	transform: perspective(600px) rotateY(0deg);
	transform-style: preserve-3d;
	transition: all ease 4s;
}

.frontal,
.trasera {
	border-radius: 5px;
	height: 100%;
	transition: all ease .1s;
	width: 100%;
}

.frontal {
	display: block;
}

.trasera {
	backface-visibility: hidden;
	color: #ffffff;
	overflow: auto;
	padding: 20px;
	position: absolute;
	top: 0;
	transform: perspective(600px) rotateY(180deg);
}

.trasera .titulo {
	color: black;
	font-family: 'Ubuntu';
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}

hr {
	background-color: #ffffff;
	border-style: none;
	height: 2px;
	margin-bottom: 20px;
	opacity: 0.5;
}

.parrafo {
	font-family: 'Ubuntu-Regular';
	font-size: 14px;
	line-height: 22px;
}

.contenedor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	max-width: 1200px;
}

.contenedor_tarjeta {
	margin: 20px;
}

a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
	transform: perspective(600px) rotateY(180deg);
}

.contenedor_tarjeta:nth-child(1) .trasera {
  background-color: #fff;
  background-image: linear-gradient(
                to top,
                #fff, rgb(221, 227, 243)
              );
}

.contenedor_tarjeta:nth-child(2) .trasera {
	background-color: #ac2b1a;
	background-image: linear-gradient(
                to top,
                rgba(251, 6, 6, 0.60), rgba(0, 0, 0, 0.6)
              );
}

.contenedor_tarjeta:nth-child(3) .trasera {
	background-color: #3f526d;
	background-image: linear-gradient(
                to top,
                rgba(3, 10, 16, 0.90), rgba(68, 100, 148, 0.80)
              );
}

.contenedor_tarjeta:nth-child(4) .trasera,
.contenedor_tarjeta:nth-child(5) .trasera,
.contenedor_tarjeta:nth-child(6) .trasera {
	background-color: #243238;
	background-image: linear-gradient(
                to top,
                rgba(54, 86, 98, 0.70), #0a0c10
              );
}

@media screen and (max-width: 992px) {
	.trasera {
		backface-visibility: visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);
	}
}
