<!-- END NAV -->

<!-- START WELCOME SECTION -->
<app-menu></app-menu>

<section id="welcome-section" class="welcome-section">
  <img src="assets/invernadero3.jpg" class="d-block w-100 inicio" alt="bootstrap">
</section>

<!-- END WELCOME SECTION -->

<!-- START PROJECTS SECTION -->

<section id="projects" class="projects-section">
<div class="inicio">
  <div class="row ">
    <div class="col-5">
      <img class="imagenes" src="assets/invernadero4.jpg" alt="">
    </div>
    <div class="col-7 textocentrado ">
      <p>Se entiende por invernadero un lugar cerrado, estático y accesible a pie, dotado habitualmente de una cubierta exterior translúcida de vidrio o de plástico, dentro del cual se puede obtener un microclima
        mediante el control de la temperatura, de la humedad y de otros factores ambientales, además, se pueden proporcionar</p>
    </div>

  </div>

  <div class="row  mx-0 px-0">
    <div class="col-7 textocentrado">
      <p>las plantas no están expuestas al desgaste físico producido por elementos ambientales como lluvias y vientos fuertes, granizadas o alta radiación solar, por lo cual la calidad de los productos obtenidos es mayor, demostrada tanto en su presentación al consumidor final como en su composición interna. Esto permite obtener mayores ganancias al momento de vender nuestros productos,
        o encontrar mejores mercados pudiendo llegar a exportar si se obtiene una alta calidad</p>
    </div>
    <div class=" col-5  mx-0 px-0" >
      <img class="imagenes " style="float: right;"  src="assets/invernadero5.jpg" alt="">
    </div>
  </div>

</div>
</section>

<!-- END PROJECTS SECTION -->

<!-- START CONTACT SECTION -->
<div class="container-fluid">
<section id="contact" class="contact-section">
  <div class="contact-section-header">

    <h3  class="salto" style="text-align: center;">Ventajas de un invernadero</h3>

    <div class="row salto mx-0 px-0">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <h4  style="text-align: center;">Aumento de los rendimientos</h4>

          <img src="assets/invernadero7.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text textocentrado">La producción bajo invernadero consigue un rendimiento por unidad de superficie hasta tres veces mayor comparado con campo abierto. En caso de utilizar hidroponía e invertir el cuidado necesario
              , estos rendimientos pueden llegar a ser diez veces superior.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <h4  style="text-align: center;">Menor riesgo de producción</h4>

          <img src="assets/invernadero8.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text textocentrado">Los daños causados por el cambio climático no se pueden evitar, pero si reducir. Al constar de una producción protegida baj
              o estructuras, los daños sufridos se minimizan debido a la aleatoriedad de los fenómenos naturales.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <h4  style="text-align: center;">Mayor control de plagas y enfermedades</h4>

          <img src="assets/invernadero9.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text textocentrado">Un invernadero correctamente diseñado y construido facilita el control de plagas y enfermedades, debido a su aislamiento con el exterior y su cuidadoso sistema de control.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <h4  style="text-align: center;">Posibilidad de cultivar todo el año</h4>

          <img src="assets/invernadero10.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text textocentrado">Del medio exterior, es posible sacar producción en cualquier época del año. Evitando factores como el frío invernal, o las altas temperaturas del verano. Debido a que además del aislamiento, se puede
              implementar calefacción, así como ventilación y enfriamiento. Dando lugar a la obtención de productos fuera de temporada..</p>
          </div>
        </div>
      </div>







    </div>
    <div class="salto"></div>
    <div class="row  mx-0 px-0"  style="border: saddlebrown 4px solid; background-color: saddlebrown;">
      <div class="col-12" style="text-align: center;" ><h3>Visitanos en nuestras redes sociales</h3></div>
      <div class="contact-links">
          <a
            class=" logos contact-details"
            ><i class="  "></i> <img src="assets/logo.PNG" alt="" style="border-radius: 100%"  ></a
          >
          <a
          class=" logos contact-details"
          ><i class="  "></i> <img src="assets/logo1.PNG" alt="" style="border-radius: 100%"  ></a
        >
        <a
        class=" logos contact-details"
        ><i class="  "></i> <img src="assets/logo2.PNG" alt="" style="border-radius: 100%"  ></a
      >
      <a
      class=" logos contact-details"
      ><i class="  "></i> <img src="assets/logo3.PNG" alt="" style="border-radius: 100%"  ></a
    >
    <a
    class=" logos contact-details"
    ><i class="  "></i> <img src="assets/logo4.PNG" alt="" style="border-radius: 100%"  ></a
  >
  <a
  class=" logos contact-details"
  ><i class="  "></i> <img src="assets/logo5.PNG" alt="" style="border-radius: 100%"  ></a
>

       </div>

    </div>

  </div>
</section>
</div>
<!-- END FOOTER SECTION -->
